---
# Wendfyr Linter Config (Clang 22.1.0 Compatible)
Checks: 'bugprone-*,
         modernize-*,
         -modernize-use-trailing-return-type,
          performance-*,
          readability-*,
          clang-diagnostic-*,
                                                      clang-analyzer-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*(src|include)/.*'
FormatStyle: file

CheckOptions:
  # ENUM NAMING RULES
  - key:             readability-identifier-naming.EnumConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  # General modernizing
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             readability-identifier-length.MinimumParameterNameLength
    value:           2
  - key:             readability-identifier-length.MinimumVariableNameLength
    value:           2
